SABIN CHAULAGAIN ID:2358554

In [ ]:
length = 10 # variable1
width = 5 # variable2
area = length * width # This is called an expression
print ( area )

50

Above program helps us to understands about variables in python with its formula and it takes lenght and width as its formula ask about the variable.

In [ ]:
# Example 2:
print(7+8.5)
# 7 is int type & 8.5 is float type , but mixing these two programs run well.

15.5

Explicit Conversion

In [ ]:
# Example 3:
base = 6 #base
height = 2 #height
area = base * height /2 #area
print (" Area is " + str( area ))
# changed , int type , ’area ’ to string

 Area is 6.0

Exercise 1 :Write a program to prompt the user for hours and rate per hour using input( ) to compute gross pay. Pay the hourly rate for the hours up to 40 and 1.5 times the hourly rate for all hours worked above 40 hours. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75).

In [ ]:
hrs = input("Enter Hours:")
h = float(hrs)
rate = input("Enter the rate per hour:")
r = float(rate)
# complete the program

if h<=40:
  #pay the hourly rate for hours up to 40
  gross_pay=h*r
else:
  #Pay the hourly rate for first 40 hours
  overtime_hours=h-40
  gross_pay=(40*r)+(overtime_hours*r*1.5)

  print("Gross pay:",gross_pay)

Enter Hours:45
Enter the rate per hour:10.50
Gross pay: 498.75

Function

In [ ]:
#Example 4:
def greeting (name): #passing parameters/argumets to the function
  print("welcome ", name)
greeting("Type_Your_Name")

welcome  Type_Your_Name

In [ ]:
#Example 5:
## getting values out of the function(return values)
def area_traingle(b, h):
  return b*h/2
  area = area_traingle(4, 8)
  print("area of traingle is: " + str(area))

In [ ]:
#example 6:
def order_number(number1,number2):
  if number2>number1:
    return number1,number2
  else:

    return number2,number1
    #Example Use
    smaller,bigger=order_number(3,8)
    print(smaller,bigger)

4: **Conditionals**

In [ ]:
#Example -7
#Even or Odd
def is_Even(number):
  if (number%2 == 0):
    return True
    return False
    is_Even(7)

In [ ]:
#Example -8
def number_group(number):
    if number > 0:
      return "Positive"
    elif number == 0:
      return "Zero"
    else:
        return "Negative"
print(number_group(10)) #Should be Positive
print(number_group(0)) #Should be Zero
print(number_group(-5)) #Should be Negative

Positive
Zero
Negative

**Loops:**
In computer programming, loops are used to repeat a block of code. For example, if we want to show a message 100 times, then we can use a loop. It’s just a simple example; you can achieve much more with loops.
There are 2 types of loops in Python:

While Loop

In [ ]:
# Example -9
#while loop
x = 0 # initialzation of variable Why=?
while x<5:
  print("Not there yet, x= " + str(x))
  x = x+1
print("x= "+str(x))
#Not there yet,x=o
#Not there yet,x=1
#Not there yet,x=2
#Not there yet,x=3
#Not there yet,x=4
#x=5

Not there yet, x= 0
Not there yet, x= 1
Not there yet, x= 2
Not there yet, x= 3
Not there yet, x= 4
x= 5

In [ ]:
#Example
def count_down(start_number):
  current=3 #initialzation of variable
  while(current > 0):
      print(current)
      current -= 1
  print("Zero!")
  count_down(3)
#output=??

INFINITY Loop with While in Python:

In [ ]:
#Infinite loops and how to break them?
#while x%2 == 0:
#x = x/2
#what happens here when x = 0 (infinite loop)
#can you solve this?
while x%2==0:
  if x==0:
    break
    x=x/2

In [ ]:
#Example-12
#Solution of Example 11
if x != 0:
   while x%2 == 0:
    x = x/2
     #or
while x != 0 and x%2 == 0:
   x = x/2

For LOOP

In [ ]:
#Example -13
# for loop, iterates over a sequence of values
for x in range(5):
   print(x)
#Output=??
#0
#1
#2
#3
#4

0
1
2
3
4

In [ ]:
#Example -14
def square(n):
  return n*n

def sum_squares(x):
   sum = 0
   for n in range(10):
    sum += square(n)
    return sum
    print(sum_squares(10)) #Output=285
#Explain what the program does?
#Sum of number from 0-9 which gets output 285.

In [ ]:
# Example -15
values = [10, 20, 30, 40, 50]
Sum = 0
length = 0
for value in values:
  Sum = Sum+value
  length = length+1
print("Total sum= "+str(Sum)+"and the Average="+str(Sum/length))

#Output=?? 150 total sum and average is 30.0
# Explain what the program does?
#In the above program the program add or sum 10,20,30,40,50 and makes output as 150 and avegare as 30.0

Total sum= 150and the Average=30.0

**Nested Loop:**

In [ ]:
# Example -16
#nested for loops
for left in range(7):
  for right in range(left, 7):
     print("["+str(left)+"|"+str(right)+"]", end=" ")
     print ()
#Output=[0|0]
#[0|1]
#[0|2]
#[0|3]
#[0|4]
#[0|5]
#[0|6]
#[1|1]
#[1|2]
#[1|3]
#[1|4]
#[1|5]
#[1|6]
#[2|2]
#[2|3]
#[2|4]
#[2|5]
#[2|6]
#[3|3]
#[3|4]
#[3|5]
#[3|6]
#[4|4]
#[4|5]
#[4|6]
#[5|5]
#[5|6]
#[6|6]
#Explain what the program does?
#The above program gives or provides the possible pairs of number from 0 to 6(inclusive and printsbthem in specified format).

[0|0]
[0|1]
[0|2]
[0|3]
[0|4]
[0|5]
[0|6]
[1|1]
[1|2]
[1|3]
[1|4]
[1|5]
[1|6]
[2|2]
[2|3]
[2|4]
[2|5]
[2|6]
[3|3]
[3|4]
[3|5]
[3|6]
[4|4]
[4|5]
[4|6]
[5|5]
[5|6]
[6|6]

**Week:01**

Write a function fib (n) that prompts the number of terms “n” from the user and displays first “n” terms of Fibonacci sequence iteratively.

In [ ]:
def sab(n):
  x=0
  b=1
  for i in range(n):
    print(x)
    c=x+b
    x,b=b,c
def main():
      n=int(input("enter a number:"))
      sab(n)
main()

enter a number:5
0
1
1
2
3

Write a function myPow(x, n) that returns , where and n is a non- negative integer.
xn
Do not use the * * operator or the math.pow function - use one while loop.

In [ ]:
def mypow(x,n):
  result=1.0
  while n:
    result=result*x
    n=n-1
    return result

def main():
      x=int(input("Enter a number to find square/cube"))
      n=int(input("enter power for square or cube"))
      result=mypow(x,n)
      print("result:",result)

main()

Enter a number to find square/cube2
enter power for square or cube3
result: 2.0

Write a function SumDigits(n) that displays the sum of digits of “n”.
Hint: SumDigits(234) will be 2+3+4=9

In [ ]:
def sumdigits(x):
        sum=0
        for num in str(x):
           sum+=int(num)
        print(sum)

def main():
    x=int(input("enter a number:"))
    sumdigits(x)
main()

enter a number:3
3


Write a function squaredSum that returns the sum of the squares of an array/list of integers such that squared- Sum([2,3,4]) gives 29. Write your solution in pure Python to show the logic in your solution, do not use any library functions.

In [ ]:
def squaredSum(a):
  sum=0
  for num in a:
        sum+=num**2
  return sum
x=[4,5,6]
result = squaredSum(x)
print(result)

77

Write a function called sumDigits that is given an integer num and returns the sum of the digits of number. Eg. sumDigits(6) gives 21. Do not use any library functions (if there is one).

In [ ]:
def sumdigits(y):
  sum=0
  for i in range(y+1):
    sum=sum+i
    print(sum)

def main():
  y=int(input("enter the number to enter:"))
  sumdigits(y)

main()

enter the number to enter:5
0
1
3
6
10
15